@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@font-face {
    font-family: 'Hermit';
    src: url('ruta/a/tu/fuente/Hermit.woff2') format('woff2'),
        url('ruta/a/tu/fuente/Hermit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bitstream Vera Sans Mono';
    src: url('ruta/a/tu/fuente/BitstreamVeraSansMono.woff2') format('woff2'),
        url('ruta/a/tu/fuente/BitstreamVeraSansMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('ruta/a/tu/fuente/Montserrat-Regular.ttf') format('truetype');
    /* Puedes agregar más formatos (woff, woff2, etc.) si los tienes */
}
html {
    background-color:#f4f4f3;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   button:hover span {
    padding-right: 15px;
   }
   button:hover span:after {
    opacity: 1;
    right: 0;
   }
.color1 {
    background-color: #ADD8E6;
}
.color2 {
    color: #FDCB6E;
}
header {
    background: #111;
}
.margenes{
  margin-top:10%;
}
.headline {
    position: relative;
    text-align: center;
    background-size:auto;
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
       /*width: 100%;
        height: 100%;
        background: rgba(#dfbdbd, 0.5);*/
    }
}
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 0;/****************************************** 1 *******************************************/
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
    h1 {
        margin: 0;
        font-size: 4em;
        line-height: 1.2em;
    }
    p {
        margin: 0;
        font-size: 1.4em;
    }
}
section {
    width: 80%;
    margin: 25px auto;
    padding: 20px;
    max-width:500px;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;
}
.contenedorglass {
  /* Imagen de fondo */
  background-size: cover;
  width: 30vw;
  height: 30vh;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass-box {
  width: 30vmin;
  height: 20vmin;
  border-radius: 10px;

  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.02);
  box-shadow:  0px 20px 20px 20px rgba(1, 1, 15, 0.3);

  /*  */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Animación */
  transition: 250ms;
  transition-timing-function: ease-out;
}

.glass-box:hover {
  transform: translateY(-10vmin);
}

.glass-box h1 {
  font-size: 9vmin;
  color: rgba(194, 189, 216, 0.8);
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.534);
}
.position{
  z-index: 1;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none
}
/* Estilos para dispositivos móviles */
@media only screen and (min-height:350px) {
    .headline {
        height: 80px;
        width: auto;
    }
    .margenes{
      margin-top:6%;
    }
    .tam {
      height: 200px;
      width: 100%;
  }
}
@media only screen and (min-width:620px) {
  .headline {
      height: 150px;
      width: auto;
  }
  .margenes{
    margin-top:6%;
  }
  .tam {
    height: 250px;
    width: 150%;
}
}  
@media only screen and (min-width: 1000px) {/*revisar por encima de 1200 para televisores*/
  .headline {
      height: 210px;
      width: auto;
  }
  .tam {
    height: 280px;
    width: 150%;
}
}
@media only screen and (min-width: 1355px) {/*revisar por encima de 1200 para televisores*/
    .headline {
        height: 300px;
        width: auto;
    }
    .margenes{
      margin-top:2%;
    }
    .tam {
      height: 300px;
      width: 100%;
  }
}
@media only screen and (min-width: 1400px) {/*revisar por encima de 1200 para televisores*/
  .headline {
      height: 430px;
      width: auto;
  }
  .tam {
      height: 400px;
      width: 700px;
      margin-left: 10%;
}
.margenes{
  margin-top:10%;
}
}
@media only screen and (min-width: 1500px) {
.margenes{
  margin-top:10%;
}
}
@media only screen and (min-width: 1550px) {
  .margenes{
    margin-top:1%;
  }
  }
.text1 {
  font-family: 'Space Grotesk', sans-serif;
}
.text2 {
  font-family: 'Inconsolata';
}
.text3 {
    font-family: 'Bitstream Vera Sans Mono';
}
.text4 {
  text-align: justify;
    font-family: 'Montserrat';
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.backg{
  background-image: url('port3.png');
  opacity: 0.9;
}
.back2{
 /* background-image: url('laptop-design-coffee-cup.jpg');*/
  opacity: 0.9;
}
.back3{
  background: rgb(117,156,251);
  background: linear-gradient(225deg, rgba(117,156,251,1) 0%, rgba(25,51,113,1) 19%, rgba(71,96,157,1) 49%, rgba(120,145,204,1) 81%, rgba(59,56,56,1) 100%);
}
/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
  margin: 0;
  padding: 0;
}
header {
  background-color:rgba(33, 33, 33, 0.9);
  color:#ffffff;
  display:block;
  font: 14px/1.3 Arial,sans-serif;
  height:50px;
  position:relative;
  z-index:5;
}
h2{
  margin-top: 30px;
  text-align: center;
}
header h2{
  font-size: 22px;
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
}
header a, a:visited {
  text-decoration:none;
  color:#fcfcfc;
}
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}
.stars, .clouds {
position:absolute;
top: 0;
left:0;
right:0;
bottom:-100%;
display:block;
}
.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-2;
}
.stars2 {
  background-image:url(http://www.script-tutorials.com/demos/360/images/stars.png);
}
.clouds{
  margin-top: -5%;
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:-1;
-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}
/**************************************************************************************************************/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/******************************************************************************************************/
label{cursor: pointer;}
/* Contenedor para centrar */
.ContainerCenter{
  display: flex;
  margin-left: -3%;
 /* align-items: center;*/
  flex-direction: column;
}
/* Input */
input{display: none}
/* Slider */
.Carrusels{
  /*height: 400px;
  width: 600px;*/
  position: relative;
  overflow-x: hidden;
}
.tam{
    position: relative;
    text-align: center;
    background-size: auto;
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
    }
}
.Carrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(300%, 0);}

#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(200%, 0);}

#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-300%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(100%, 0);}

#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-300%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-200%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(0%, 0);}
/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}
#Slider4:checked ~ .Carrusels .Arrow4{display: flex;}
/* Selectores */
.Selectors {
  width: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #FFF;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}
#Slider4:checked ~ .Selectors .Selector:nth-of-type(4) {background-color: #999999;}
