@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@font-face {
    font-family: 'Hermit';
    src: url('ruta/a/tu/fuente/Hermit.woff2') format('woff2'),
        url('ruta/a/tu/fuente/Hermit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bitstream Vera Sans Mono';
    src: url('ruta/a/tu/fuente/BitstreamVeraSansMono.woff2') format('woff2'),
        url('ruta/a/tu/fuente/BitstreamVeraSansMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('ruta/a/tu/fuente/Montserrat-Regular.ttf') format('truetype');
    /* Puedes agregar más formatos (woff, woff2, etc.) si los tienes */
}
html {
    background-color:#f4f4f3;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   button:hover span {
    padding-right: 15px;
   }
   button:hover span:after {
    opacity: 1;
    right: 0;
   }
.color1 {
    background-color: #ADD8E6;
}
.color2 {
    color: #FDCB6E;
}
.a {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar {
    width: 200px;
    margin: 0 auto;
    transition:.2s;
  }
  #sobrancelhas {
    transform: translateY(-9px);
    animation: sobrancelhas 5s linear infinite;
  }
  @keyframes sobrancelhas {
    0% {
      transform: translateY(-10);
      -ms-transform: translateY(-10);
      -moz-transform: translateY(-10);
    }
  
    25% {
      transform: translateY(0px);
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
  
    75% {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
  
    100% {
      transform: translateY(10);
      -moz-transform: translateY(10);
      -ms-transform: translateY(10);
    }
  }
  #nariz {
    transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    animation: nariz 5s linear infinite;
  }
  @keyframes nariz {
    0% {
      transform: translateY(-10);
      -ms-transform: translateY(-10);
      -moz-transform: translateY(-10);
    }
    25% {
      transform: translateY(0px);
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
    75% {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
    100% {
      transform: translateY(10);
      -moz-transform: translateY(10);
      -ms-transform: translateY(10);
    }
  }
  #boca {
    transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    animation: boca 5s linear infinite;
  }
  @keyframes boca {
    0% {
      transform: translateY(-10);
      -ms-transform: translateY(-10);
      -moz-transform: translateY(-10);
    }
    25% {
      transform: translateY(0px);
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
    75% {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
    100% {
      transform: translateY(10);
      -moz-transform: translateY(10);
      -ms-transform: translateY(10);
    }
  }
  #olhos {
    transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    animation: olhos 2s linear infinite;
  }
  @keyframes olhos {
    0% {
      transform: translateX(-2);
      -ms-transform: translateX(-2);
      -moz-transform: translateX(-2);
    }
    25% {
      transform: translateX(2px);
      -moz-transform: translateX(2px);
      -ms-transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
      -ms-transform: translateX(-2px);
      -moz-transform: translateX(-2px);
    }
    100% {
      transform: translateX(2);
      -ms-transform: translateX(2);
      -moz-transform: translateX(2);
    }
  }
  #notebook {
    transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    animation: notebook 6s linear infinite;
  }
  @keyframes notebook {
    0% {
      transform: translateY(-4);
    }
    25% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(4);
    }
  }
  #pernas {
    transform: translateY(-9px);
    animation: pernas 6s infinite;
  }
  @keyframes pernas {
    0% {
      transform: translateY(-10);
      -ms-transform: translateY(-10);
      -moz-transform: translateY(-10);
    }
    25% {
      transform: translateY(0px);
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
    75% {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
    100% {
      transform: translateY(10);
      -moz-transform: translateY(10);
      -ms-transform: translateY(10);
    }
  }
  #pe {
    animation: pe 6s infinite;
  }
  @keyframes pe {
    0% {
      transform: rotateX(2deg);
      -ms-transform: rotateX(2deg);
      -moz-transform: rotateX(2deg);
    }
    25% {
    }
    75% {
    }
    100% {
    }
  }
  #camisas {
    transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    animation: camisas 6s infinite;
  }
  @keyframes camisas {
    0% {
      transform: translateY(-10);
      -ms-transform: translateY(-10);
      -moz-transform: translateY(-10);
    }
    25% {
      transform: translateY(0px);
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
    75% {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
    100% {
      transform: translateY(10);
      -moz-transform: translateY(10);
      -ms-transform: translateY(10);
    }
  }
  #camisacostas {
    transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    animation: camisacostas 6s infinite;
  }
  @keyframes camisacostas {
    0% {
      transform: translateY(-10);
      -ms-transform: translateY(-10);
      -moz-transform: translateY(-10);
    }
    25% {
      transform: translateY(0px);
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
    75% {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
    100% {
      transform: translateY(10);
      -moz-transform: translateY(10);
      -ms-transform: translateY(10);
    }
  }
  #cabeca {
    transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    animation: cabeca 6s infinite;
  }
  @keyframes cabeca {
    0% {
      transform: translateY(-8);
    }
    25% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(8);
    }
  }
  #macae {
    opacity: 1;
    animation: macae 2s linear;
  }
  @keyframes macae {
    0% {
      opacity: 0.2;
    }
  
    25% {
    }
  
    75% {
    }
  
    100% {
    }
  }
  #luzmacae {
    animation: luzmacae 5s;
  }
  @keyframes luzmacae {
    0% {
      opacity: 0.2;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
  #orelhas {
    animation: orelhas 6s linear infinite;
  }
  @keyframes orelhas {
    0% {
      transform: translateY(-10);
      -ms-transform: translateY(-10);
      -moz-transform: translateY(-10);
    }
    25% {
      transform: translateY(0px);
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
    75% {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
    100% {
      transform: translateY(10);
      -moz-transform: translateY(10);
      -ms-transform: translateY(10);
    }
  }
  #sombras {
    animation: sombras 6.1s linear infinite;
  }
  @keyframes sombras {
    0% {
      transform: scale(0.96);
    }
    25% {
      transform: scale(1);
    }
    75% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.96);
    }
  }  
header {
    background: #111;
}
.headline {
    position: relative;
    text-align: center;
    background-size: auto;
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#111, 0.5);
    }
}
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
    h1 {
        margin: 0;
        font-size: 4em;
        line-height: 1.2em;
    }
    p {
        margin: 0;
        font-size: 1.4em;
    }
}
section {
    width: 100%;
    margin: 25px auto;
    padding: 20px;
    max-width: 800px;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none
}
/* Estilos para dispositivos móviles */
@media only screen and (min-height:350px) {
    .headline {
        height: 230px;
       /* width: 800px;*/
    }
}
/*576px*/
@media (min-width: 1235px) {
    .headline {
        height: 365px;
       /* width: 800px;*/
    }
}
.text1 {
    font-family: 'Inconsolata';
}
.text2 {
  font-family: 'Inconsolata';
}
.text3 {
    font-family: 'Bitstream Vera Sans Mono';
}
.text4 {
    font-family: 'Montserrat';
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
nav {
    /*position: fixed;
    width: 100%;
    z-index: 10;
    &.scrolled {
        background: rgba(#111, 0.9);
    }*/
}
.backg{
  background-image: url('port3.png');
  opacity: 0.9;
  /*background-color: #ded7e5;
  background-color: #fff4ff;
   width:100%;
  min-height:350px;
  max-height:850px;*/
}
.back2{
  background-image: url('back2.jpg');
  width:100%;
  height: 700px;
}


/*...............................................................*/